// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.division-header {
  border-top: 1px solid $govuk-border-colour;
  padding-top: 10px;
  height: 100px;
}

.division-header h3 {
  margin-bottom: 25px;
}

.live-icon {
	display: block;
  float: left;
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid govuk-colour("green");
  background-color: govuk-colour("green");
	border-radius: 50%;
}

@media (min-width: 61.25em) {
	.live-icon {
		display: inline-block;
		position: static;
    margin-top: 1px !important;
		margin-right: 10px;
		margin-bottom: 7px;
		vertical-align: middle
	}
}
.app-swatch-border {
	border-color: #b1b4b6
}


.test-icon {
	display: block;
  float: left;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	border: 1px solid govuk-colour("mid-grey");
  background-color: govuk-colour("mid-grey");
	border-radius: 50%
}

@media (min-width: 61.25em) {
	.test-icon {
		display: inline-block;
		position: static;
    margin-top: 1px !important;

		margin-right: 10px;
		margin-bottom: 7px;
		vertical-align: middle
	}
}
.app-swatch-border {
	border-color: #b1b4b6
}


.service-metadata {
  padding-bottom: 30px;
}


// fake dash bit //

.dashboard-numbers {
  width: 100%;
}


// nav links at top bit //
.navigation-links {
  float: right;
  text-align: center;
}

.navlink {
  margin-right: 20px;
}

.nav-block {
  border-bottom: 1px solid govuk-colour("mid-grey");
  margin-top: -30px !important;
  margin-bottom: 50px;
  padding-bottom: -10px;
  padding-bottom: 40px;
}

.nav-block p {
    text-align: center;
}

.nav-block a, a:visited {
    text-align: center;
    text-decoration: none;
}
.nav-block h3 {
  margin-bottom: 5px;
}

.link-selected {
  border-bottom: 4px solid black;
  padding-bottom: 18px;
}


.service-title {
float: left;
}



.chunk-payments {
  height: 64px;
  border-left: 15px solid  $govuk-brand-colour;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  margin-right: 4px;
  background-color: #f3f2f1;
  justify-content: space-between;
  align-items: baseline;
}

.chunk-refunds {
  height: 64px;
  border-left: 15px solid  #d4351c;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  margin-right: 4px;
  background-color: #f3f2f1;
  justify-content: space-between;
  align-items: baseline;
}

.chunk-income {
  height: 64px;
  border-left: 15px solid  #0b0c0c;
  border-top: 2px solid grey;
  border-right: 2px solid grey;
  border-bottom: 2px solid grey;
  margin-right: 4px;
  background-color: #f3f2f1;
  justify-content: space-between;
  align-items: baseline;
}


.chunk-refunds p {
  float: right;
  text-align: right;
  padding-right: 20px;
  margin-top: 16px;
}


.chunk-income p {
  float: right;
  text-align: right;
  padding-right: 20px;
  margin-top: 16px;
}

.chunk-payments p {
  float: right;
  text-align: right;
  padding-right: 20px;
  margin-top: 16px;
}

.next-things-to-do {
  margin-top: 25px;
margin-bottom: 50px;}

.onboarding-chunk {
  background: $govuk-brand-colour;
  padding: 9px 7px 1px 7px;
}
.onboarding-chunk p {
  text-align: center;
  color: white !important;
  padding-top: 7px;
}

.onboarding-chunk a {
  color: white;
}


.service-in-list {
  display: block;
  margin-top: 5px;
  margin-bottom: 45px;
}

.dashboard-numbers-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sort-transactions {
  padding-bottom: 50px;
}


.search-controls {
  display: block;
  height: 150px;
}


.filter-services-block {
  float: left;
  width: 70%;
  padding-top: 20px;
  padding-bottom: 0px;
}


.net-income-summary-container {
  float: right;
  width: 145px;

}

.net-income-summary-container p {
  padding-top: -10px;
  padding-bottom: 7px;
  text-align: left;
}
.net-income-summary {
  height: 25px;
  width: 100px;
  padding: 6px;
  border-left: 5px solid  #0b0c0c;
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-right: 4px;
  margin-top: -15px;
  background-color: #f3f2f1;
  display: inline-block;
}

.net-income-summary p {
  padding-top: 8px;
  text-align: right;
}


.service-links {
  float: left;
  margin-top: -30px;
  margin-left: 17px;
  width: 250px;
}



.transactions-placeholder {
  height: 100px;
  width: 100%;
  background-color: #f3f2f1;
  margin: 15px;
  padding: 10px;
}

.transactions-placeholder p {
  text-align: center;
}

.input-wrapper {
  width: 75%;
}


.user-research {
  border: 10px solid green;
  padding: 30px;
  margin-bottom: 20px;
}

.sortblockcontainer {
  padding-top: 35px;
  display: block;
}

.sortblock {
  float: right;
}

.service-archive {
  
}
