
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="nav-block">
  <!--
  <div class="service-title">
  <h3 class="govuk-body-m">apple.davies@surrey.gov.uk
  </div>
  -->
  <div class="navigation-links-2">
  <p class="govuk-body-s">
    <span class="navlink link-selected-2">
    <a href="fishing-licence">Services (3)</a>
    </span>
    <span class="navlink"> <a href="#">All live transactions</a></span>
    <span class="navlink">
   <a href="#">All bank payments</a>
   </span>

  </div>
  </div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!--
      <h2 class="govuk-heading-l">
        Services (3)
      </h2>
      -->





<div class="search-controls">
  <div class="filter-services-block">
    <h3 class="govuk-heading-s">Find a service</h3>
  <div class="govuk-form-group">
    <input class="govuk-input" id="event-name" name="event-name" type="text">
  </div>
  </div>



<!--
  <div class="sortblockcontainer">
  <div class="sortblock">

  <div class="govuk-form-group">
    <label class="govuk-label" for="sort">
    Net income
    </label>
    <select class="govuk-select" id="sort" name="sort">
      <option value="published">Last 3 months</option>
      <option value="updated">Last month</option>
      <option value="views">Last week</option>
      <option value="comments" selected>Last day</option>
    </select>
  </div>
  </div>
  </div>
-->
</div>

<div class="add-a-service">
<p class="govuk-body-m">
<a href="#">+ Add a new service</a>
</p>
</div>

<div class="service-in-list-2">
  <h2 class="govuk-heading-m">Fishing licence &nbsp; <span class="govuk-body-s"><a href="#">Edit name</a></span></h2>
<div class="service-left">
  <div class="live-icon"></div>
  <p class="govuk-heading-s"><a href="fishing-licence">Live account</a></p>
  </div>
  <div class="service-right">
    <p class="govuk-body-s"><a href="#">Manage team members</a></p>
    <p class="govuk-body-s"><a href="#">Manage organisation details</a></p>
    <p class="govuk-body-s"><a href="#">View test account</a></p>
  </div>
  </div>

<div class="service-in-list-2">
  <h2 class="govuk-heading-m">Bin bags &nbsp; <span class="govuk-body-s"><a href="#">Edit name</a></span></h2>
<div class="service-left">
  <div class="live-icon"></div>
  <p class="govuk-heading-s"><a href="fishing-licence">Live account</a></p>
  </div>
  <div class="service-right">
    <p class="govuk-body-s"><a href="#">Manage team members</a></p>
    <p class="govuk-body-s"><a href="#">Manage organisation details</a></p>
    <p class="govuk-body-s"><a href="#">View test account</a></p>
    </div>

  </div>

  <div class="service-in-list-2">
    <h2 class="govuk-heading-m">Garden waste &nbsp; <span class="govuk-body-s"><a href="#">Edit name</a></span></h2>
  <div class="service-left">
    <div class="live-icon"></div>
    <p class="govuk-heading-s"><a href="fishing-licence">Live account</a></p>
    </div>
    <div class="service-right">
      <p class="govuk-body-s"><a href="#">Manage team members</a></p>
      <p class="govuk-body-s"><a href="#">Manage organisation details</a></p>
      <p class="govuk-body-s"><a href="#">View test account</a></p>
    </div>
    </div>

    <div class="service-in-list-2">
      <h2 class="govuk-heading-m">Bulky waste collection &nbsp; <span class="govuk-body-s"><a href="#">Edit name</a></span></h2>
    <div class="service-left">
      <div class="test-icon"></div>
      <p class="govuk-heading-s test-account-link"><a href="#">Test account</a></p>
      </div>
      <div class="service-right">
        <p class="govuk-body-s"><a href="#">Manage team members</a></p>
        <p class="govuk-body-s"><a href="#">Manage organisation details</a></p>
      </div>
      </div>

      <div class="service-in-list-2">
        <h2 class="govuk-heading-m">Parking permit &nbsp; <span class="govuk-body-s"><a href="#">Edit name</a></span></h2>
      <div class="service-left">
        <div class="test-icon"></div>
        <p class="govuk-heading-s test-account-link"><a href="#">Test account</a></p>
        </div>
        <div class="service-right">
          <p class="govuk-body-s"><a href="#">Manage team members</a></p>
          <p class="govuk-body-s"><a href="#">Manage organisation details</a></p>
        </div>
        </div>

<!--
<div class="service-in-list">
            <h2 class="govuk-heading-m">Fishing licence &nbsp; <span class="govuk-body-s"><a href="#">Edit name</a></span></h2>
          </div>
        <div class="service-right">
          <p class="govuk-!-font-size-16">
        <a href="#">Manage team members</a></p>
        <p class="govuk-!-font-size-16">
        <a href="#">Manage organisation details</a>
          </p>
        </div>
      </div>

  <div class="govuk-grid-column-one-third-from-desktop">
      <div class="service-left">
        <p class="govuk-heading-s">
          <a href="fishing-licence">Live account</a></p>
         <p class="govuk-body-s"><a href="#">Test account</a></p>
          </div>
        </div>
      </div>
  </div>
  -->


<!--

<div class="service-archive">
  <p class="govuk-body-m"><a href="#">View archived services</a>
</div>

-->


{% endblock %}
