
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        GOV.UK Pay</h1>

      <p>
      Usability improvements to the services list page, adding a new service and the dashboard.
      </p>

      <p>Updated: 27 August 2020</p>

      <h2 class="govuk-heading-m">[build] pages</h2>
      <ol class="govuk-list govuk-list--number">
        <li><a href="build-services-list">Services list page</a> – navigation style 1</li>
        <li><a href="build-services-list-2">Services list page</a> – navigation style 2</li>
      </ol>

      <h2 class="govuk-heading-m">[experimental] pages <a href="https://www.figma.com/file/cNdZ8GCt6ISHr1cqjdha4f/Pay-flows?node-id=678%3A0">figma link</a></h2>
      <ol class="govuk-list govuk-list--number">
        <li><a href="services-list">Services list page (4 services)</a></li>
        <li><a href="manage-service-settings">Manage service settings</a></li>
        <li><a href="fishing-licence">Dashboard for a service (first time use)</a></li>
      </ol>

      <div class="user-research">
    <h2 class="govuk-heading-m">User research &mdash; 21 August 2020</h2>
      <ol class="govuk-list govuk-list--number">
        <li><span class="strong">Department running everything through 1 service </span></br>
           <a href="one-services-list">Services list page</a>,
              <a href="invoices">Dashboard</a></li>
              <!--
        <li>Local authority with just one service</li>
        <li>Lots of services (could be central or local)  (<a href="many-services-list">here</a>)</li>
        -->
        </ol>

        </div>


      <h2 class="govuk-heading-m">Draft scenarios</h2>
      <ol class="govuk-list govuk-list--number">
        <li><a href="services-list">Services list page (6 services)</a></li>
        <li><a href="services-list-2">Services list page (50 services)</a></li>
        <li><a href="services-list">Services list page (1 service for everything)</a></li>
        <li><a href="#">Adding a new service</a></li>
        <li><a href="fishing-licence">Dashboard for a service (first time use)</a></li>
        <li><a href="#">Dashboard for a service (regular use)</a></li>
</ol>



      <h2 class="govuk-heading-m">Examples and documentation</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li>
        <li>
          <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
