
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        You have 6 services
      </h2>
      <button class="govuk-button" data-module="govuk-button">
  Add a new service
  </button>
            <p class="govuk-body-s">
            <a href="#">View transactions for all live services</a></p>
                  <p class="govuk-body-s">
            <a href="#">View payments to your bank account</a>
            </p>


<div class="filter-services-block">
  <h3 class="govuk-heading-s">Filter services</h3>
<div class="govuk-form-group">
  <input class="govuk-input" id="event-name" name="event-name" type="text">
</div>
</div>


<!--  SORT placeholder

<div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Sort by
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="published">Recently published</option>
    <option value="updated" selected>Recently updated</option>
    <option value="views">Most views</option>
    <option value="comments">Most comments</option>
  </select>
</div>
-->



<div class="division-header">
  <div class="live-icon"></div>
<h3  class="govuk-heading-s">Live</h3>

</div>

<div class="service-in-list">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-s">Fishing licence </br>
    <span  class="govuk-body-s"><a href="fishing-licence">Dashboard</a></h2>

  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div class="service-metadata">
<p class="govuk-body-s">
  £450.00 in the last week
  </br>7 team members</p>
  </div>
</div>
  </div>
</div>

<div class="service-in-list">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-s">Blue Badge </br>
    <span  class="govuk-body-s"><a href="fishing-licence">Dashboard</a></h2>

  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div class="service-metadata">
<p class="govuk-body-s">
  £450.00 in the last week
  </br>2 team members</p>
  </div>
</div>

  </div>
</div>

<div class="division-header">
  <div class="test-icon"></div>
<h3  class="govuk-heading-s">Test</h3>
</div>
<div class="service-in-list">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-s">Fishing licence </br>
    <span  class="govuk-body-s"><a href="fishing-licence">Dashboard</a></h2>

  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div class="service-metadata">
<p class="govuk-body-s">
  <a href="#">Manage organisation information</a>
  </p>
  </div>
</div>
  </div>
</div>

<div class="service-in-list">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-s">Blue Badge </br>
    <span  class="govuk-body-s"><a href="fishing-licence">Dashboard</a></h2>

  </div>
  <div class="govuk-grid-column-one-third-from-desktop">
    <div class="service-metadata">
<p class="govuk-body-s">
  <a href="#">Manage organisation information</a>
  </p>
  </div>
</div>



{% endblock %}
