
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="nav-block">
  <div class="service-title">
  <h3 class="govuk-heading-s"><a href="services-list">My services</a> > Fishing licence</h3>
  </div>
  <div class="navigation-links">
  <p class="govuk-body-s">
    <span class="navlink">
    <a href="fishing-licence">Dashboard</a>
    </span>
    <span class="navlink link-selected"> <a href="#">Transactions</a></span>
    <span class="navlink">
   <a href="#">Payment links</a>
   </span>
   <span class="navlink">
    <a href="#">Settings</a></p>
    </span>
  </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">
        Transactions
      </h2>
      </div>
      </div>

      <div class="transactions-placeholder">
        <p>Transactions placeholder</p>

      </div>




{% endblock %}
