
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="nav-block">
  <!--
  <div class="service-title">
  <h3 class="govuk-body-m">apple.davies@surrey.gov.uk
  </div>
  -->
  <div class="navigation-links-2">
  <p class="govuk-body-s">
    <span class="navlink">
    <a href="build-services-list-2">All services</a>
    </span>
    <span class="navlink link-selected-2""> <a href="#">All live transactions</a></span>
    <span class="navlink">
   <a href="#">All bank payments</a>
   </span>

  </div>
  </div>



      <h2 class="govuk-heading-l">
        All live transactions
      </h2>

      <img src="public/images/transactions.png" width="100%">
      <p>0 transactions</p>

      <p>No results match the search criteria.</p>


{% endblock %}
